# Environnement virtuel
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Données (téléchargées dynamiquement, pas versionnées)
data/*.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/